@import "./reset.css";

:root {
  --primary-background: #2b2c3a;
  --primary-label: #ffffff;
  --primary-active: #6868ff;
  --primary-attention: #ff4738;
  --primary-online: #24cb8d;
  --primary-line: #d8d8d82a;
  --second-background: #48495270;
  --second-label: #ffffffaf;
  --primary-hover: #5555b4;
}

.body {
  height: 100%;
  width: 100%;
  background-color: var(--primary-background);
  float: right;
}

.header {
  background-color: var(--primary-background);
  width: 80%;
  float: right;
  padding: 18px 28px 18px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-line);
  position: fixed;
  right: 0;
  z-index: 4;
  top: 0;
}

.aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background: rgba(156, 165, 236, 0.04);
}

.main {
  width: 80%;
  float: right;
  background-color: var(--primary-background);
  padding: calc(24px + (54 - 24) * ((100vw - 375px) / (1440 - 375)));
  margin-top: 81px;
}

.section-main {
  width: 100%;
  margin-bottom: calc(30px + (60 - 30) * ((100vw - 375px) / (1440 - 375)));
}

.header-navigation {
  font-family: "Jost", sans-serif;
  font-size: calc(14px + (14 - 14) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(12px + (12 - 12) * ((100vw - 375px) / (1440 - 375)));
  font-weight: 400;
  opacity: 0.6;
  color: var(--primary-label);
  width: 300px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list__item:hover {
  transition: 0.2s all linear;
  color: var(--primary-active);
}

.line {
  height: 24px;
  background-color: var(--primary-line);
  width: 1px;
}

.header-information {
  display: flex;
  font-family: "Jost", sans-serif;
  justify-content: flex-end;
  width: 55%;
}

@media (max-width: 1430px) {
  .header-information {
    width: 70%;
  }
}

.weight-text {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: var(--primary-label);
}

.header-information__button {
  display: flex;
  align-items: center;
  width: 364px;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .header-information__button {
    display: none;
  }
}

.text-label {
  color: var(--primary-label);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: calc(13px + (13 - 13) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(10px + (10 - 10) * ((100vw - 375px) / (1440 - 375)));
}
.header-information__button_item {
  border-radius: 5px;
  background-color: var(--second-background);
  padding: 3px 12px;
  color: #9a9a9ca9;
}

.energy-icon {
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 4px;
  background-color: var(--primary-attention);
  margin-right: 12px;
}

.button-icon {
  display: flex;
  align-items: center;
}
.avatar-image {
  width: 44px;
  height: 44px;
}

.profile-block {
  display: flex;
  align-items: center;
  margin-left: 23px;
}

.profile-block__status {
  margin-left: 13px;
}

.header-five {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: calc(14px + (14 - 14) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(10px + (10 - 10) * ((100vw - 375px) / (1440 - 375)));
  color: var(--primary-label);
}

.profile-block__status_item {
  color: var(--primary-online);
  margin-top: 4px;
}
.profile-block__status_item::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--primary-online);
  display: inline-block;
  border-radius: 100%;
  margin-right: 5px;
}
.profile-block__level {
  background-color: var(--primary-active);
  padding: 2px 8px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: calc(11px + (11 - 11) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(10px + (10 - 10) * ((100vw - 375px) / (1440 - 375)));
  color: var(--primary-label);
  text-transform: uppercase;
  border-radius: 4px;
  margin: 3px 0 auto 15px;
}

.aside-header {
  width: 100%;
  padding: 18px 28px 15px 30px;
  border-bottom: 1px solid var(--primary-line);
}

.aside-logo__image {
  width: 40px;
  height: 8px;
}
.aside-year {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: calc(11px + (11 - 11) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(15px + (15 - 15) * ((100vw - 375px) / (1440 - 375)));
  color: var(--primary-label);
  display: inline;
}
.aside-logo {
  display: flex;
  align-items: center;
  width: 140px;
  justify-content: space-between;
}

.header-one {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: calc(22px + (22 - 22) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(32px + (32 - 32) * ((100vw - 375px) / (1440 - 375)));
  color: var(--primary-label);
  text-transform: uppercase;
}
.aside-navigation {
  padding: 30px 0;
  height: 83%;
}

.aside-navigation__item {
  width: 100%;
  padding: 0 30px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(14px + (14 - 14) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(20px + (20 - 20) * ((100vw - 375px) / (1440 - 375)));
  color: var(--primary-label);
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside-navigation__item:last-child {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--primary-line);
}

.arrow {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-top: 2px solid var(--primary-label);
  border-right: 2px solid var(--primary-label);
  transform: rotate(135deg);
  transition: 0.2s all linear;
  display: none;
}

/* .arrow:hover {
  transform: rotate(-45deg);
} */

.aside-menu-lectures {
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s all linear;
}

.aside-menu-lectures__active {
  height: 320px;
  pointer-events: all;
  opacity: 1;
}

.lecture-list {
  width: 100%;
}

/* .lecture-list:hover .aside-menu-lectures {
>>>>>>> main
  height: 320px;
  pointer-events: all;
  opacity: 1;
}

.lecture-list:hover .arrow {
  transform: rotate(-45deg);
} */

.aside-menu-lectures__item {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 50px;
  font-size: calc(14px + (14 - 14) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(10px + (10 - 10) * ((100vw - 375px) / (1440 - 375)));
  color: var(--second-label);
  cursor: pointer;
  border-left: 3px solid rgba(156, 165, 236, 0.04);
}

.aside-menu-lectures__item:hover {
  background-color: var(--second-background);
  border-left: 3px solid var(--primary-active);
}

.aside-menu__image {
  width: 15px;
  height: 23px;
  margin-right: 27px;
}
.aside-menu__image path {
  fill: var(--second-label);
  opacity: 0.7;
}

.aside-menu-lectures__item:hover .aside-menu__image path {
  fill: var(--primary-active);
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch-input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(156, 165, 236, 0.04);
  border: 1px solid var(--primary-line);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: var(--primary-active);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgba(156, 165, 236, 0.04);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-active);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.aside-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.text-small {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: calc(14px + (14 - 14) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(10px + (10 - 10) * ((100vw - 375px) / (1440 - 375)));
  color: var(--second-label);
}

.text-lessons-small {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: calc(11px + (11 - 11) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(15px + (15 - 15) * ((100vw - 375px) / (1440 - 375)));
  color: var(--second-label);
}

.header-two {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: calc(18px + (22 - 18) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(16px + (18 - 16) * ((100vw - 375px) / (1440 - 375)));
  color: var(--primary-label);
  margin-top: 7px;
}

.button {
  padding: 7px 13px;
  border-radius: 4px;
  background-color: var(--primary-active);
  transition: 0.3s all linear;
}
.button-filter {
  padding: 7px 13px;
  border-radius: 4px;
  background-color: var(--primary-active);
  transition: 0.3s all linear;
  margin-right: 10px;
  width: 86px;
}
.button-filter:hover {
  background-color: var(--primary-hover);
}

.button:hover {
  background-color: var(--primary-hover);
}

.text-button {
  color: var(--primary-label);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: calc(12px + (12 - 12) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(17px + (17 - 17) * ((100vw - 375px) / (1440 - 375)));
}

.text-lessons-small {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: var(--second-label);
  font-size: calc(11px + (11 - 11) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(15px + (15 - 15) * ((100vw - 375px) / (1440 - 375)));
  text-transform: uppercase;
}

.button-pagination {
  color: var(--primary-label);
  padding: 10px;
  border: 1px solid var(--primary-line);
  border-radius: 4px;
  transition: 0.3s all linear;
}

.button-arrow {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-top: 2px solid var(--primary-label);
  border-right: 2px solid var(--primary-label);
  transform: rotate(225deg);
  transition: 0.2s all linear;
}

.button-arrow-right {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-top: 2px solid var(--primary-label);
  border-right: 2px solid var(--primary-label);
  transform: rotate(45deg);
  transition: 0.2s all linear;
}

.block-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-pagination__block {
  margin-left: 10px;
}
.button-pagination:hover {
  background-color: var(--primary-active);
}
.block__button {
  display: flex;
  align-items: center;
}

.block-lessons__cards {
  width: 100%;
  display: flex;
  align-items: stretch;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .block-lessons__cards {
    flex-wrap: wrap;
  }
}

.card {
  width: 24%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: rgba(156, 165, 236, 0.04);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 20px;
  margin: 20px 0.3vw 0px 0.3vw;
}

@media (max-width: 1100px) {
  .card {
    width: 48%;
    margin-top: 30px;
  }
}

.card-text {
  padding: 15px;
  height: 100%;
  width: 90%;
}

.header-four {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: var(--second-label);
  font-size: calc(16px + (16 - 16) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(12px + (12 - 12) * ((100vw - 375px) / (1440 - 375)));
  color: var(--primary-label);
  margin-bottom: 10px;
}

.text-middle {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: var(--second-label);
  font-size: calc(14px + (14 - 14) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(18px + (18 - 18) * ((100vw - 375px) / (1440 - 375)));
}

.card-footer {
  padding: 15px;
  border-top: 1px solid var(--primary-line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-image {
  width: 100%;
  padding-bottom: 72%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-image__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-out;
}

.card-image__item:hover {
  transform: scale(1.1);
}

.card-label {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: var(--second-label);
  font-size: calc(12px + (12 - 12) * ((100vw - 375px) / (1440 - 375)));
  line-height: calc(12px + (12 - 12) * ((100vw - 375px) / (1440 - 375)));
  padding: 4px 6px;
  background-color: var(--primary-active);
  position: absolute;
  top: 15px;
  left: 12px;
  border-radius: 3px;
}
